body {
    color: #000000;
    background-color: #c04638;
  /*   border-style: solid; */
    
  }
  
  div {
    color: blue; 
  /*   border-style: solid; */
    display: flex;
    justify-content: space-evenly;
  }
  
  .background {
    width: 50%;
  }
  
  .Buttons {
    color: yellow;
    align-items: center;
  }
  
  .Buttons a {
    color: #34014e;
    font-family: Novah;
    font-size: 55px;
    padding: 40px;
    text-decoration: none;
  }
  
  p {
    color: #fed07a;
    font-family: prisma;
    font-size: 95px;
  }
  