@font-face {
  src: url(Fonts/Novah.ttf);
  font-family: Novah;
}

@font-face {
  src: url(Fonts/Prisma.ttf);
  font-family: Prisma;
}

*{
  margin: 0;
  border-width: 0px;
}

body {
    color: #000000;
    background-color: #c04638;
    border-width: 0px;
  /*   border-style: solid; */
    
  }
  
  div {
    color: blue; 
  /*   border-style: solid; */
    display: flex;
    justify-content: space-evenly;
  }
  
  .background {
    width: 100vw;
  }

  .Buttons {
    color: yellow;
    align-items: center;
  }
  
  .Buttons a {
    color: #34014e;
    font-family: Novah;
    font-size: 55px;
    padding: 40px;
    text-decoration: none;
  }
  
  p {
    color: #fed07a;
    font-family: prisma;
    font-size: 95px;
  }
  